// assets/styles/app.scss

// customize some Bootstrap variables


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

:root {
    --main-bg-color: #F6F2FA;
    --primary-color: #9473AE;
    --secondary-color: #541E7E;
    --text-dark: #2D2C2E;
    --text-light: #A29EA6;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

nav li {
    list-style: none;
}

